body {
    background-color: black;
    padding: 5% 5% 5% 5%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: content;
}

#buttons > p {
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: groove;
    display: block;
}

.a > div {
    border-radius: 2rem;
}